---
layout: base
---
.row
  .large-12.columns
    %h1 Java EE Samples
    %hr

.row
  .large-12.columns
    .panel
      %h3 Get started
      %p
        %a{:href=>"https://github.com/javaee-samples/javaee7-samples"} JavaEE 7 Samples
.row
  .large-4.columns
    %h3 About 
    %p JavaEE Samples are small snippets showing how to use JavaEE.

  .large-4.columns
    %h3 Goal
    %p The goal of the JavaEE Samples is to be a reference to how to use the different specifictions within the JavaEE umbrella specification. 

  .large-4.columns
    %h3 Concept
    %p Learn JavaEE via Tests.
