// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// based on http://www.colourlovers.com/palette/3197411/Moon_Tattoo

.top-bar {
  border-bottom: 3px solid #7AA8BF;
  background-color: #071720;
  height: $topbar-height + 3px;
}

.top-bar-section, .top-bar-section ul {
  background-color: #071720;
}

.container > header {
  background-color: #155C72;
  border-bottom: 2px solid #C3CFDB;
  margin-bottom: 10px;
}

.container > header .sub {
  background-color: #7AA8BF;
  width: 100%;
}

.sub ul {
  margin-top: 5px;
}  

.sub a {
  color: #071720;
  font-weight: bold;
}  

.container > header h1, .container > header h2 {
  color: #C3CFDB;
}

footer {
  border-top: 3px solid #7AA8BF;
  background-color: #071720;
  color: #C3CFDB;
  margin-top: 2em;
}

pre.highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}

pre.highlight code {
  padding: 15px;
}

.howto .button {
  margin-top: .80em;
}

.improve {
  height: 40px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px;
  border: 1px solid #eee;
  background-color: #FF2400;
}
.improve a {
  color: #071720;
  font-weight: bold;
  padding: 5px;
  background-color: #7AA8BF;
}

ul.unstyled {
   list-style: none;
}

ul.contributors {
  list-style: none;
  padding: 0;
  margin: .5em 0 2em 0;
  & > li {
    //@include span(4);
    margin-bottom: 2em;
    display: block;
    @include clearfix;
    &:nth-of-type(3n+1) {
      //@include first;
      clear: left;
    }
    line-height: 1.4;
    .photo {
      float: left;
      position: relative;
      margin-right: 10px;
      overflow: hidden;
      //@extend .thumbnail;
      cursor: pointer;
      //&:hover {
      //  border-color: $link_color;
      //}
      img {
        display: block;
        //@include square(140px);
      }
      ul {
        margin: 0 4px;
        font-size: 0.9em;
        padding: 0;
        position: absolute;
        height: 0px;
        width: 140px; // 100% doesn't work here
        left: 0;
        bottom: 3px;
        //@include single-transition(height, .4s, ease-in-out);
        background-color: #000;
        list-style: none;
        text-align: center;
        //border-top: 1px solid $light_border;
        //@include single-box-shadow($palette_white_50trans, 0, 1px, 0, 0, inset);
        overflow-y: hidden;
        li {
          font-size: 0.95em;
          display: inline;
          padding: 0 2px;
          a {
            //color: $palette_white;
          }
          span {
            //color: $palette_40gray;
          }
        }
      }
      &:hover ul {
        height: 24px;
      }
    }
    h3 {
      margin-bottom: .15em;
    }
    strong, em {
      display: block;
    }
  }
  & + p {
    clear: left;
    //@extend .well;
    strong {
      display: block;
    }
  }
}


// AsciiDoc Rendering styles

.colist {
  margin-left: 2em;
}

.colist p {
  margin-bottom:0em;
}
